<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <div class="container" th:fragment="header">
            <div class="logo">
                <div class="icon">
                    <a href="/"><img src="/images/JJWTLogo.png"/></a>
                    <a href="/" class="text">JSON Web Tokens for Java and Android</a>
                </div>
                <div class="credits">
                    by
                    <a href="https://isaccanedo.com.br/" target="_blank"><img src="/images/isaccanedo-logo-white.png"/></a>
                </div>
            </div>
            <div class="toplink">
                <div class="dropdown">
                    <p class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></p>
                    <ul class="dropdown-menu">
                        <li><a href="jjwtdocs.html">JJWT Docs</a></li>
                        <li><a href="jwt101.html">JWT101</a></li>
                        <li role="separator" class="divider"></li>
                        <p class="dropdownlisttext"> More From isaccanedo</p>
                        <li><a href="https://www.jsonwebtoken.io/">JSONWebToken.io</a></li>
                        <li><a href="https://www.jwtinspector.io/">JWT Inspector</a></li>
                    </ul>
                </div>
            </div>

            <div class="share">
                <a href="https://twitter.com/intent/tweet?text=JJWT%3A+Open+Source+JWTs+for+Java+And+Android+Apps.+Check+it+out%3A+https%3A%2F%2Fjava.jsonwebtoken.io" target="_blank" rel="nofollow" class="btn btn-alt">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    Share on Twitter
                </a>
                <div class="buttons">
                    <a class="github-button" href="https://github.com/jwtk/jjwt" data-count-href="/jwtk/jjwt/stargazers" data-count-api="/repos/jwtk/jjwt#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star jwtk/jjwt on GitHub">Stars</a>
                </div>
            </div>

            <h1>Open Source JWTs For Any Java App</h1>

            <p class="description">
                JJWT is the easiest library for creating and verifying JSON Web Tokens (JWTs) on the JVM.<br />
                Just drop JJWT into any Java application. Check it out in action!
            </p>

            <p class="buttons">
                <a href="https://github.com/jwtk/jjwt" target="_blank" rel="nofollow" class="btn btn-alt">
                    <i class="fa fa-github" aria-hidden="true"></i>
                    View on GitHub
                </a>
            </p>
        </div>
    </body>
</html>