html, body {
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: "Lato", sans-serif;
    color: #656A71;
    background: white;
}

.dropdown{
    color: rgba(255, 255, 255, 0.8);
}

.dropdown-toggle{
    font-size: 14px;
}

.dropdown a:visited,
.dropdown a:hover,
.dropdown a:active,
.dropdown a:focus {
    color: inherit;
    text-decoration: none;
}

.dropdown-menu {
    color: #000000;
    font-size: 12px;
}

.dropdownlisttext {
    padding-left: 20px;
    color: #000000;
    font-size: 11px;
}

header,
section,
footer {
    display: block;
    text-align: center;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1000px;
    display: inline-block;
    text-align: left;
    position: relative;
}

header {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-bottom: 50px;
    background-image: -webkit-radial-gradient(closest-corner, rgba(16, 47, 70, 0), rgba(16, 47, 70, .26)), -webkit-linear-gradient(108deg, rgba(0, 65, 162, 0.9), rgb(108, 202, 46));
    background-image: -moz-radial-gradient(closest-corner, rgba(16, 47, 70, 0), rgba(16, 47, 70, .26)), -webkit-linear-gradient(108deg, rgba(0, 65, 162, 0.9), rgb(108, 202, 46));
    background-image: -o-radial-gradient(closest-corner, rgba(16, 47, 70, 0), rgba(16, 47, 70, .26)), -webkit-linear-gradient(108deg, rgba(0, 65, 162, 0.9), rgb(108, 202, 46));
    background-image: -ms-radial-gradient(closest-corner, rgba(16, 47, 70, 0), rgba(16, 47, 70, .26)), -webkit-linear-gradient(108deg, rgba(0, 65, 162, 0.9), rgb(108, 202, 46));
}
header > .container {
    text-align: center;
}
header p.description {
    width: 730px;
    display: inline-block;
    color: rgba(255, 255, 255, 0.85);
    padding-top: 20px;
    /*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);*/
}
header .devtools {
    position: relative;
    margin-bottom: -140px;
    margin-top: 32px;
    box-shadow: 3px 3px rgba(86, 95, 171, 0.065);
    overflow: visible;
}
header .devtools-shadow {
    position: absolute;
    left: -100px;
    right: -100px;
    top: -100px;
    height: 111px;a
    padding: 100px;
    border-radius: 5px;
    overflow: hidden;
    pointer-events: none;
}
header .devtools-shadow::before {
    content: "";
    display: block;
    width: 100%;
    height: 230px;
    box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.22);
}

section {
    padding-bottom: 100px;
    border-top: 1px solid #f0f0f0;
}
header + section {
    padding-top: 75px;
    border-top: none;
}
header + section .container {
    text-align: center;
}
header + section + section {
    border-top: none;
}
section.section-bg {
    background: #F8FAFD;
}

footer {
    padding-bottom: 60px;
    padding-top: 60px;
    color: #BBBACA;
    font-size: 14px;
    font-weight: 300;
}
footer .container {
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizelegibility;
    color: #242A33;
}
h1 {
    font-weight: 300;
    font-size: 34px;
    margin: 0;
    padding-top: 120px;
    color: white;
    /*text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);*/
}
h2 {
    font-size: 28px;
    font-weight: 300;
}

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
}
p.small {
    font-size: 11px;
    color: rgba(255, 255, 255, 0.7);
}
p.small a {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    -webkit-transition: color 0.1s ease-out;
    -moz-transition: color 0.1s ease-out;
    -o-transition: color 0.1s ease-out;
    transition: color 0.1s ease-out;
}
p.small a:hover,
p.small a:focus,
p.small a:active {
    color: rgba(255, 255, 255, 1);
}

strong {
    font-weight: 600;
}

code {
    font-family: "Source Code Pro", monospace;
    font-weight: 300;
    color: #890193;
}

.counter-label {
    display: inline-block;
    background: #979797;
    color: white;
    border-radius: 11px;
    text-align: center;
    font-size: 8px;
    margin-left: 1px;
    padding: 1px 4px;
    margin-top: 1px;
    vertical-align: top;
    font-weight: bold;
}

.feature {
    text-align: center;
}
.feature h2 {
    font-size: 24px;
    margin: 0;
    margin-bottom: 12px;
    padding: 0;
    visibility: hidden;
}
.feature p {
    margin-top: 0;
    margin-bottom: 40px;
    visibility: hidden;
}
.feature .devtools {
    visibility: hidden;
}

.toplink {
    top: 35px;
    position: absolute;
    margin-left: 40%;
    vertical-align: top;
}

.toplink > a.btn {
    padding: 10px 10px;
    padding-bottom: 9px;
    border: none;
    box-shadow: none;
}
.toplink > a.btn > i {
    font-size: 12px;
    vertical-align: top;
}

.logo,
.logo:visited {
    position: absolute;
    top: 30px;
    left: 0;
    display: inline-block;
    color: rgba(255, 255, 255, 0.8);
}
.logo a,
.logo a:visited {
    text-decoration: none;
    display: inline-block;
    opacity: 0.8;
    color: white;
    -webkit-transition: opacity 0.1s ease-out;
    -moz-transition: opacity 0.1s ease-out;
    -o-transition: opacity 0.1s ease-out;
    transition: opacity 0.1s ease-out;
}

.logo a:hover,
.logo a:focus,
.logo a:active {
    opacity: 1;
}
.logo .icon img {
    width: 100px;
}
.logo .icon .text {
    vertical-align: top;
    line-height: 20px;
    padding-left: 8px;
    font-family: "Francois One";
    font-weight: 400;
}
.logo .credits {
    position: absolute;
    left: 111px;
    top: 19px;
    font-size: 11px;
    vertical-align: top;
    opacity: 0.8;
}
.logo .credits img {
    width: 72px;
    vertical-align: top;
    padding-left: 1px;
    padding-top: 1px;
}

.share {
    position: absolute;
    top: 30px;
    right: 0;
}
.share > a.btn {
    padding: 10px 10px;
    padding-bottom: 9px;
    font-size: 9px;
    /*border: none;*/
    box-shadow: none;
}
.share > a.btn > i {
    font-size: 12px;
    vertical-align: top;
}

.copyright {
    position: absolute;
    left: 0;
    z-index: 20;
}

.love {
    position: absolute;
    right: 0;
    z-index: 20;
}
.love a {
    position: relative;
    color: #BBBACA;
    text-decoration: none;
    -webkit-transition: color 0.1s ease-out;
    -moz-transition: color 0.1s ease-out;
    -o-transition: color 0.1s ease-out;
    transition: color 0.1s ease-out;
}
.love a:hover {
    color: #6455ac;
    background-image: -webkit-radial-gradient(closest-corner, rgba(16,47,70,0) 60%, rgba(16,47,70,.26)), -webkit-linear-gradient(108deg, rgba(65,128,222,0.9), rgba(98,19,107,0.9) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.love a > span:first-child {
    padding-right: 22px;
}
.love a .heart {
    color: #E25151;
    padding: 0 2px;
    position: absolute;
    top: 2px;
    margin-left: -20px;
}
.love a:hover .heart {
    -webkit-animation: heartbeat .870s infinite;
    -moz-animation: heartbeat .870s infinite;
    -o-animation: heartbeat .870s infinite;
    -ms-animation: heartbeat .870s infinite;
    animation: heartbeat .870s infinite;
    color: #6455ac;
    background-image: -webkit-linear-gradient(left, #654ca3, #6455ac);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.social {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
.social a {
    color: #BBBACA;
    padding: 0 3px;
    text-decoration: none;
    font-size: 16px;
    -webkit-transition: color 0.1s ease-out;
    -moz-transition: color 0.1s ease-out;
    -o-transition: color 0.1s ease-out;
    transition: color 0.1s ease-out;
}
.social a:hover {
    color: #6455ac;
}
.social a:hover i {
    background-image: -webkit-linear-gradient(-40deg, #8C41AB, #447CCE 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.bodytext {
    overflow: hidden;
    text-align: left;
    padding-left: 15%;
    padding-right: 15%;
}

.browsers {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.browsers li {
    display: inline-block;
    font-size: 44px;
    width: 58px;
    color: #CBD0D8;
}

.btn {
    display: inline-block;
    padding: 16px 25px;
    color: #54419C;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.05);
    text-decoration: none;
    line-height: normal;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.5px;
    cursor: pointer;
    -webkit-transition: color .1s ease-out, border-color .1s ease-out, background-color .1s ease-out, box-shadow .1s ease-out, opacity .1s ease-out;
    -moz-transition: color .1s ease-out, border-color .1s ease-out, background-color .1s ease-out, box-shadow .1s ease-out, opacity .1s ease-out;
    -o-transition: color .1s ease-out, border-color .1s ease-out, background-color .1s ease-out, box-shadow .1s ease-out, opacity .1s ease-out;
    transition: color .1s ease-out, border-color .1s ease-out, background-color .1s ease-out, box-shadow .1s ease-out, opacity .1s ease-out;
}
.btn:hover,
.btn:focus,
.btn:active {
    box-shadow: 4px 4px rgba(0, 0, 0, 0.07);
    background-color: rgba(255, 255, 255, 1);
    outline: none;
}
.btn > i {
    padding-right: 3px;
}

.btn.btn-alt {
    border-color: rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.0);
    color: rgba(255, 255, 255, 0.9);
}
.btn.btn-alt:hover,
.btn.btn-alt:focus,
.btn.btn-alt:active {
    border-color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.02);
    color: rgba(255, 255, 255, 1);
}

.btn.fixed {
    position: fixed;
    top: 30px;
    right: 30px;
    padding: 10px 20px;
    box-shadow: 0 14px 10px -10px rgba(0, 0, 0, 0.25);
    z-index: 100;
    background-image: -webkit-linear-gradient(left, rgba(101, 76, 163, 1), rgba(100, 85, 172, 1));
    background-image: -moz-linear-gradient(left, rgba(101, 76, 163, 1), rgba(100, 85, 172, 1));
    background-image: -o-linear-gradient(left, rgba(101, 76, 163, 1), rgba(100, 85, 172, 1));
    background-image: -ms-linear-gradient(left, rgba(101, 76, 163, 1), rgba(100, 85, 172, 1));
    color: white;
    -webkit-transition: background-image .1s ease-out, box-shadow .1s ease-out, opacity .2s ease-out;
    -moz-transition: background-image .1s ease-out, box-shadow .1s ease-out, opacity .2s ease-out;
    -o-transition: background-image .1s ease-out, box-shadow .1s ease-out, opacity .2s ease-out;
    transition: background-image .1s ease-out, box-shadow .1s ease-out, opacity .2s ease-out;
}
.btn.fixed:hover,
.btn.fixed:focus,
.btn.fixed:active {
    box-shadow: 0 16px 12px -10px rgba(0, 0, 0, 0.25);
    background-image: -webkit-linear-gradient(left, rgba(101, 76, 163, 0.95), rgba(100, 85, 172, 0.95));
    background-image: -moz-linear-gradient(left, rgba(101, 76, 163, 0.95), rgba(100, 85, 172, 0.95));
    background-image: -o-linear-gradient(left, rgba(101, 76, 163, 0.95), rgba(100, 85, 172, 0.95));
    background-image: -ms-linear-gradient(left, rgba(101, 76, 163, 0.95), rgba(100, 85, 172, 0.95));
}

.btn.colored {
    background-image: -webkit-linear-gradient(left, rgba(101, 76, 163, 1), rgba(100, 85, 172, 1));
    background-image: -moz-linear-gradient(left, rgba(101, 76, 163, 1), rgba(100, 85, 172, 1));
    background-image: -o-linear-gradient(left, rgba(101, 76, 163, 1), rgba(100, 85, 172, 1));
    background-image: -ms-linear-gradient(left, rgba(101, 76, 163, 1), rgba(100, 85, 172, 1));
    color: white;
    -webkit-transition: background-image .1s ease-out, box-shadow .1s ease-out, opacity .2s ease-out;
    -moz-transition: background-image .1s ease-out, box-shadow .1s ease-out, opacity .2s ease-out;
    -o-transition: background-image .1s ease-out, box-shadow .1s ease-out, opacity .2s ease-out;
    transition: background-image .1s ease-out, box-shadow .1s ease-out, opacity .2s ease-out;
}
.btn.colored:hover,
.btn.colored:focus,
.btn.colored:active {
    background-image: -webkit-linear-gradient(left, rgba(101, 76, 163, 0.95), rgba(100, 85, 172, 0.95));
    background-image: -moz-linear-gradient(left, rgba(101, 76, 163, 0.95), rgba(100, 85, 172, 0.95));
    background-image: -o-linear-gradient(left, rgba(101, 76, 163, 0.95), rgba(100, 85, 172, 0.95));
    background-image: -ms-linear-gradient(left, rgba(101, 76, 163, 0.95), rgba(100, 85, 172, 0.95));
}

.hidden {
    opacity: 0;
    pointer-events: none;
}
.visible {
    opacity: 1;
    pointer-events: all;
}

.buttons {
    margin-top: 15px;
    margin-bottom: 10px;
}
.buttons > .btn {
    margin-left: 10px;
}
.buttons > .btn:first-child {
    margin-left: 0;
}

pre.json {
    font-family: "Source Code Pro", monospace;
    font-size: 11px;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: left;
    white-space: normal;
}
pre.json .line {
    position: relative;
    white-space: pre;
    display: block;
}
pre.json .line .key {
    color: #ca0000;
}

body .chrome,
body .firefox,
body .safari {
    display: none;
}
body.chrome .chrome,
body.firefox .firefox,
body.safari .safari {
    display: initial;
}


@media (max-width: 900px) {
    .container,
    footer {
        box-sizing: border-box;
        padding-left: 40px;
        padding-right: 40px;
    }

    header p.description {
        width: 100%;
    }

    .devtools {
        width: 100%;
    }

    .btn.fixed.visible {
        display: none;
    }

    .logo {
        left: 40px;
    }

    .share {
        right: 40px;
    }
}

@media (max-width: 800px) {
    header p.description {
        font-size: 17px;
    }

    section {
        padding-bottom: 40px;
        padding-top: 40px;
    }

    header + section + section {
        padding-top: 100px;
    }

    footer {
        padding-top: 10px;
    }
}

@media (max-width: 700px) {
    .container,
    footer {
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
    }

    section {
        padding-bottom: 20px;
    }

    .logo {
        top: 20px;
        left: 20px;
    }

    .share {
        top: 20px;
        right: 20px;
    }

    .modal-content {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: auto;
        padding: 35px;
        border-radius: 0;
        border: none;
        border: 0;
        position: fixed;
        box-shadow: none;
    }
    .modal .input {
        width: 140px;
    }
}

@media (max-width: 640px) {
    .devtools-menu > li:nth-child(7),
    .devtools-menu > li:nth-child(8),
    .devtools-menu > li:nth-child(9) {
        display: none;
    }
}

@media (max-width: 500px) {
    p,
    header p.description {
        font-size: 16px;
    }

    .feature h2 {
        font-size: 22px;
    }

    .btn {
        padding: 15px 20px;
    }

    .devtools-menu > li:nth-child(5),
    .devtools-menu > li:nth-child(6) {
        display: none;
    }
}

@media (max-width: 435px) {
    h1 {
        font-size: 28px;
    }

    .social {
        margin-top: -27px;
        text-align: right;
    }

    footer {
        padding-top: 40px;
    }

    .modal .input {
        width: 180px;
        padding: 10px;
        height: 20px;
        font-size: 12px;
    }
    .modal .btn {
        padding: 11px 20px;
        height: 42px;
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    .btn {
        font-size: 11px;
        padding: 12px 17px;
    }

    .modal .input {
        width: 150px;
    }
}

@media (max-width: 375px) {
    h1 {
        font-size: 26px;
    }

    .devtools-menu > li:nth-child(4) {
        display: none;
    }
}

@media (max-width: 360px) {
    h1 {
        font-size: 22px;
    }

    .feature h2 {
        font-size: 20px;
    }

    p,
    header p.description {
        font-size: 14px;
    }

    .btn {
        font-size: 10px;
        padding: 11px 12px;
    }

    .devtools-table th:nth-child(1) {
        width: 60px;
    }
    .devtools-jwt-menu > li {
        margin-right: -1px;
    }
    .devtools-menu > li:nth-child(3) {
        display: none;
    }

    footer {
        font-size: 12px;
    }

    .modal h4 {
        font-size: 16px;
    }
    .modal p {
        font-size: 14px;
    }
    .modal .input {
        width: 100px;
    }
}