<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head :: head"/>
</head>

<body>
<header>
    <div th:replace="fragments/header :: header"/>
</header>
<section id="section-1" class="section-bg">
    <h2>Check Out JJWT In Action!</h2>
    <p>Create and validate tokens and Java code - just update the <strong>Decoded JWT</strong> box below:</p>
    <div class="container">
        <div class="row">
            <div class="col-md-6 box panel panel-warning">
                <div class="panel-heading"><h3 class="panel-title">Pastable Encoded JWT (using JJWT)</h3></div>
                <div class="jwt-common">
                    <textarea id="jwt-encoded"></textarea>
                </div>
            </div>
            <div class="col-md-6 box panel panel-success">
                <div class="panel-heading"><h3 class="panel-title">Decoded JWT</h3></div>
                <div class="jwt-header jwt-common">
                    Header:<br/>
                    <textarea id="jwt-header"></textarea>
                </div>
                <div class="jwt-payload jwt-common">
                    Payload:<br/>
                    <textarea id="jwt-payload"></textarea>
                </div>
                <div class="jwt-signature jwt-common">
                    <a id="gen-secure-key" class="nounderline btn-xs btn-primary" role="button">Generate New Secure Key</a><br/>
                    <span id="secure-key" class="jwt-wrap"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="jwt-builder-div" class="col-md-6 box panel panel-warning">
                <div class="panel-heading"><h3 class="panel-title">Pastable JJWT Builder</h3></div>
                <div class="jwt-builder jwt-common">
                    <textarea id="jwt-builder"></textarea>
                </div>
            </div>
            <div id="jwt-parser-div" class="col-md-6 box panel panel-warning">
                <div class="panel-heading"><h3 class="panel-title">Pastable JJWT Parser</h3></div>
                <div class="jwt-parser jwt-common">
                    <textarea id="jwt-parser"></textarea><br/>
                    <input id="require_claims" type="checkbox" checked="checked"/> require claims?
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div th:replace="fragments/footer :: footer"/>
</footer>

<script type="text/javascript" src="/js/jquery-2.2.4.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/underscore-min.js"></script>
<script type="text/javascript" src="/js/jquery.blockUI.js"></script>
<script type="text/javascript" src="/js/codemirror-compressed.js"></script>
<script type="text/javascript" src="/js/jwtfun.js"></script>
<script src="https://buttons.github.io/buttons.js"></script>

</body>
</html>
